<section class="gallery">
  <div class="container">
    <div class="img-heading">
      <h1>Image Gallery</h1>
    </div>
    <div class="main-div">
      <div class="img-container">
        <img src="./assets/images/pic-8.jpg" id="pre" alt="" appGallery>
        <div class="img-prev text-center">
          <div class="img-slides active">
            <img src="./assets/images/pic-8.jpg" alt="" appGallery>
          </div>
          <div class="img-slides">
            <img src="./assets/images/pic-2.jpg" alt="" appGallery>
          </div>
          <div class="img-slides">
            <img src="./assets/images/pic-3.jpg" alt="" appGallery>
          </div>
          <div class="img-slides">
            <img src="./assets/images/pic-4.jpg" alt="" appGallery>
          </div>
         
         
        </div>
      </div>
    </div>
    
  </div>
</section>
